.nav_list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav_list a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0px 0px 2px rgba(130, 173, 209, 0.2);
}
.nav_list a:hover {
  text-decoration: underline;
}
