.user_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.user_container > p {
  color: #db9d2b;
  font-size: 20px;
}
.user_container > button {
  margin-left: auto;
}
.user_container svg {
  fill: rgba(219, 157, 43, 1);
}
